<p>
  <%= "<Тут тоже будет фото>"%>
</p>
<h1>
  <%= @pet.name %>
</h1>
<p>
  <%= @pet.kind %>
</p>
<p>
  <%= 'Возраст: '%>
  <%= @pet.age %>
</p>
<p>
  <%= 'Немного о питомце: '%>
  <%= @pet.description %>
</p>

<%= link_to 'Вернуться к просмотру животных', '/', {:class=>"link-to-style2"} %>

<%= link_to 'Забрать этого питомца', "/pets/#{@pet.id}/edit", {:class=>"link-to-style1"} %>