<p>
  <%= "<Тут тоже будет фото>"%>
</p>
<h1>
  <%= @pet.name %>
</h1>
<p>
  <%= @pet.kind %>
</p>
<p>
  <%= 'Возраст: '%>
  <%= @pet.age %>
</p>
<p>
  <%= 'Немного о питомце: '%>
  <%= @pet.description %>
</p>

<%= link_to 'Вернуться к просмотру животных', '/' %>