<div class = "our-pets">
  <%= 'Наши животные' %>
</div>
<div class="pet-container">
  <% @pets.each do |p| %>
    <div class="description-pet">
      <p>
      <%= "<Тут будет фото>" %>
      </p>
      <%= link_to p.name, pet_path(p), {:class=>"link-to-pet"} %>
      <div class ="description-pet-row">
        <p>
        <%= p.kind %>
        </p>
        <p>
        <%= 'Возраст: '%>
        <%= p.age %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Отдать питомца', new_pet_path, {:class=>"link-to-style"} %>

